* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

html {
  background-color: rgba(36, 23, 34, 1);
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f25551;
  --secondary-color-200: #feede1;
  --secondary-color-100: #fffbff;

  --gradient-color: linear-gradient(#632329, #f25551, #50f283);
  --green-gradient-color: #50f283;

  --dark-color-900: #241722;
  --dark-color-800: #352432;
  --dark-color-700: #462730;
  --dark-color-600: #632329;
}

#empty-list {
  display: none;
}

/* HEADER SECTION */

.header {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid rgba(70, 39, 48, 0.8);

  margin: 4.6875rem 7.0625rem 0px 7.0625rem;
  padding: 0.6875rem 0px;
}

.header__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.button {
  height: 3.625rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.125rem;

  border-radius: 40px;

  padding: 1rem 1.625rem;

  transition: background-color 300ms ease-in;
}

.button:hover {
  background-color: var(--dark-color-700);
}

.button__icon {
  height: 1.625em;
  width: 1.625em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button__icon-circle {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.button__icon-rect {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.button__icon span {
  height: 2px;
  width: 0.625rem;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.button__icon span:first-child {
  transform: translateX(50%);
}

.button__icon span:last-child {
  transform: rotateZ(90deg) translateY(225%);
}

.button__text {
  font-size: 1.125rem;
  text-decoration: none;
  line-height: none;
  color: var(--primary-color);
}

/* EMPTY LIST SECTION */

.empty-list {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding-top: 8.6875rem;
}

.empty-list__block {
  height: 19.5rem;
  width: 29.4375rem;

  border: 4px solid;

  border-image: var(--gradient-color) 1;

  background-color: transparent; /* Ensure background stays transparent */
}

.empty-list__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-list__h1 {
  font-size: 8rem;
  color: white;
}

.empty-list__p {
  font-size: 1.25rem;
  background: linear-gradient(#632329, #f25551, #50f283);
  background-clip: text;
  color: transparent;
}

/* LIST SECTION */

.lists {
  display: flex;
  flex-direction: column;

  gap: 1.875rem;
  margin: 3.125rem 7.0625rem;
}

.list {
  height: 3.75rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  cursor: pointer;

  box-shadow: 0 4px 8px black;
  background-color: var(--dark-color-900);

  transition: background-color 300ms ease-in-out;
}

.list:hover {
  background-color: var(--dark-color-800);
}

.list__trash {
  width: 0.625rem;
  height: 100%;
  position: absolute;
  z-index: 2;

  background-color: rgba(99, 35, 41, 0.6);

  transition: width 300ms ease-in;
}

.list__trash:hover {
  width: 4.375rem;
  background-color: var(--dark-color-600);

  background-image: url("../assets/icons/trash-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

.list__title {
  color: white;

  margin-left: 1.375rem;
}

.list__arrow {
  height: 2rem;
  width: 2rem;

  margin-left: auto;
  margin-right: 0.875rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__arrow span {
  height: 0.2rem;
  width: 1rem;

  border-radius: 0.2rem;
  background-color: var(--secondary-color-200);

  transition: background-color 300ms ease-in-out;
}

.list__arrow:hover span {
  background-color: var(--primary-color);
}

.list__arrow span:first-child {
  transform: translateY(-3px) rotateZ(45deg);
}

.list__arrow span:last-child {
  transform: translateY(3px) rotateZ(-45deg);
}
