.header-todo__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.header-todo__arrow-left {
  height: 2.25rem;
  width: 2.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 50%;
  border: 2px solid var(--dark-color-600);

  transition: border-color 300ms ease-out;
}

.header-todo__arrow-left:hover {
  border-color: var(--primary-color);
}

.header-todo__arrow-left span {
  height: 2px;
  width: 0.75rem;

  border-radius: 2px;
  background-color: var(--dark-color-600);

  transition: background-color 300ms ease-out;
}

.header-todo__arrow-left:hover span {
  background-color: var(--primary-color);
}

.header-todo__arrow-left span:first-child {
  transform: translate(-6px, -1.5px) rotateZ(-45deg);
}

.header-todo__arrow-left span:nth-child(2) {
  width: 1rem;
}

.header-todo__arrow-left span:last-child {
  transform: translate(-6px, 1.5px) rotateZ(45deg);
}

.header-todo__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #feede1;
}

.header-todo__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.button__icon-trash {
  background-image: url("../assets/icons/trash-primary.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

/* EMPTY TODO */

.empty-todo__block {
  height: 22.25rem;
  width: 33.625rem;
}

.empty-todo__content {
  top: 5rem;
  left: 0;
  right: 0;

  gap: 3.625rem;
}

.empty-todo__image {
  height: 23.5rem;
  width: 25rem;
  background-image: url("../assets/images/zombieing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.empty-todo__text {
  font-size: 1.5rem;
  color: var(--secondary-color-200);
}

/* TO DO SECTION */

.to-dos {
  display: flex;
  flex-direction: column;

  gap: 1.875rem;
  margin: 3.125rem 7.0625rem;
}

.to-do {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  background-color: var(--dark-color-800);
  border-radius: 4px;
  cursor: pointer;

  padding: 1.125rem 2rem;
  transition: background-color 300ms ease;
}

.to-do:hover {
  background-color: var(--dark-color-700);
}

.to-do__checkbox-container {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}

.to-do__checkbox {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Hides the real checkbox */
}

/* Style the label that follows the hidden checkbox */
.to-do__checkbox + label {
  cursor: pointer;
}
/* Create the custom checkbox before the label text */
.to-do__checkbox + label::before {
  height: calc(1.5rem - 0.25rem);
  width: calc(1.5rem - 0.25rem);

  content: "";
  position: absolute;
  left: 0;
  top: 0;

  border: 2px solid transparent;
  border-radius: 4px;

  background: linear-gradient(var(--dark-color-800), var(--dark-color-800))
      padding-box,
    var(--gradient-color) border-box;
}

/* Show checkmark when checkbox is checked */
.to-do__checkbox:checked + label::before {
  background: linear-gradient(var(--dark-color-800), var(--dark-color-800))
      padding-box,
    var(--gradient-color) border-box;
}

.to-do__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 40%;
  width: 0.3rem;
  height: 1rem;

  border: solid;
  border-image: var(--gradient-color) 1;
  background-color: transparent;

  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.to-do__item-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.to-do__item {
  width: 100%;

  padding: 0.25rem 0.5rem;
  border: none;
  background-color: transparent;
  color: white;
}

.to-do__item:focus {
  color: white;

  outline: none;
}

::placeholder {
  color: white;
}

.to-do__trash {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: auto;

  background-image: url("../assets/icons/trash-white.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.to-do:hover .to-do__trash {
  opacity: 1;
}
